<div class="footer ">
    <div class="pull-left" style="display:none">
        <img src="~/images/rkao-logo.png" class="logo-rkao" />
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <b>Служба поддержки</b><br />
            <b>Телефон: +7 777 777 77 77</b><br />
            <span>Email: <b><a href="malito:support@rsc.kz">support@rsc.kz</a></b></span><br />
        </div>
        <div class="col-sm-2">
            Адрес: г.Астана, ул. Алихана Букейханова 11, БЦ "Болашак", оф. 208
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <b>2018 © ТОО «Retail Solutions»</b>
        </div>
    </div>
</div>

