
<div class="search-panel " style="box-shadow: 1px 5px 12px #888888;height:50px;margin:5px;">
    <div class="col-sm-3">             
    </div>
    <div class="col-sm-9">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-search-law" onclick="return DocumentHelper.SearchSubmitClick();" style="height: 30px;">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            <input type="text" class="form-control search-text" style="height: 30px" name="SearchText" placeholder="Введите одно или несколько ключевых слов для поиска" value="">
            <span class="input-group-btn find-arrows" style="display: none;">
                <button type="button" class="btn " style="height: 30px;">
                    <span class="fa fa-chevron-left"></span>
                </button>
                <button type="button" class="btn " style="height: 30px;">
                    <span class="fa fa-chevron-right"></span>
                </button>
            </span>

        </div>
    </div>
</div>

