
@{
    ViewBag.Title = "Заявка на участие в торгах";
}

<script type="text/javascript" src="~/Scripts/plugins/jqBlockUI/jquery.blockUI.js" charset="utf-8">
</script>
<script type="text/javascript" src="~/Scripts/plugins/crypto/crypto_object.js" charset="utf-8">
</script>
<script type="text/javascript" src="~/Scripts/plugins/crypto/eds.js" charset="utf-8">
</script>
<link href="~/Content/leftmenu.css" rel="stylesheet" />

<style>
    .form-row {
        padding: 5px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .btn-blue {
        width: 130px;
        background-color: #337ab7;
    }

        .btn-blue:hover {
            width: 130px;
            background-color: #2975b6;
        }
</style>
<div class="main-page">
    @Html.Partial("LeftMenu")
    <div class="search-result-container2">
        <label style="font-weight:bolder;color:#507299;">Заявка на участие в торгах</label>
        <input type="hidden" class="user-id" value="@MyExtensions.GetCurrentUserId()" />
        <div class="panel panel-success" style="width:80%;">
            <div class="panel-body">
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <table style="border:1px solid forestgreen;">
                            <tr>
                                <td style="padding:10px;"><i class="fa fa-check-circle-o fa-4x" style="color:forestgreen;"></i>  </td>
                                <td>
                                    <p>
                                        Ваша заявка <span class="order-no"></span> на участие в торгах под номером <span class="announcement-no"></span> была отправлена на рассмотрение Оператором. Статус заявки можно отслеживать во вкладке "Мои заявки".
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Участник:</div>
                    <div class="col-xs-4"><span class="buyer-juridicalname">ТОО "КазахГаз"</span></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">БИН:</div>
                    <div class="col-xs-4"><span class="buyer-bin">020540003431</span></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Статус заявки:</div>
                    <div class="col-xs-4"><span  class="status-application" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Дата и время формирования  заявки:</div>
                    <div class="col-xs-4">
                        <div class='input-group date dp-date-application' data-date-format="dd/mm/yyyy">
                            <input type='text' class="form-control inp-application" value="" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Номер заяви:</div>
                    <div class="col-xs-4"><span class="announcement-no" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Старторвая цена:</div>
                    <div class="col-xs-4"><span class="start-price" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Условия поставки:</div>
                    <div class="col-xs-4"><span class="delivery-type" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Документы:</div>
                    <div class="col-xs-2">
                        <label>Файл не выбран</label>
                    </div>
                    <div class="col-xs-4">
                        <span class="btn btn-default btn-file">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>  Выберите файл <input type="file" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" style="width:80%;">
            <div class="panel-heading" style=" background-color: rgb(0, 51, 102);">
                Финансовая гарантия
            </div>
            <div class="panel-body">
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Банк*:</div>
                    <div class="col-xs-4">
                        <select readonly class="form-control select-bank" style="height:30px;"></select>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">БИК*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-bik" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Адрес банка*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-address" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">ИИК*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-iik" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Кбе*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-kbe" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Тип счета*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-account-type" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Дата открытия*:</div>
                    <div class="col-xs-4"><input type="text" class="form-control bank-open-date" /></div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Валюта счета*:</div>
                    <div class="col-xs-4">
                        <select class="form-control payment-type" style="height:30px;">
                            <option value="KZT" selected>KZT</option>
                            <option value="RUB">RUB</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-12">
                        <hr />
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Вид финансовой гарантии:</div>
                    <div class="col-xs-4">
                        <select class="form-control select-bankwarranty" style="height:30px;">
                            <option selected>Банковская гарантия</option>
                        </select>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <div class="row form-row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3">Файл банковской гарантии:</div>
                    <div class="col-xs-2">
                        Банк.гарантия
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-paperclip"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/applytoannouncementview.js"></script>

